body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
    overflow-x: hidden;
    background: linear-gradient(
        to bottom,
        #ff8c00 0%,
        #000000 30%,
        #000000 70%,
        #ff8c00 100%
    );
    font-family: "Lexend", sans-serif;
}

#root {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 70vw;
    height: 90vh;
    border-radius: 15px;
    background-color: rgb(249, 238, 205);
    transition: width 0.2s ease;
    box-shadow: 10px 10px 14px rgba(255, 140, 0, 0.5);
    overflow-y: auto;
}

.header {
    display: flex;
    justify-self: center;
    align-self: center;
    justify-content: space-between;
    height: 10vh;
    width: 90%;
    align-items: center;
    margin-top: 2rem;
    transition: width 0.2s ease;
}

.title {
    display: flex;
    flex-direction: column;
}

.title p {
    margin: 0;
    font-weight: 500;
}

.walletBtn,
.addMsgBtn {
    background-color: #ff8c00;
    color: #000;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    width: 15rem;
    height: 2.5rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.addMsgBtn {
    width: 11rem;
}

.walletBtn:hover,
.addMsgBtn:hover {
    background-color: #ff8c00a9;
}

.disconnectWalletBtn {
    background-color: #ff8c00;
    color: #000;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    width: 13rem;
    height: 2rem;
    font-size: 1.2rem;
    font-weight: 600;
}

.addMessage {
    color: white;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    align-items: center;
}

input {
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    margin: 0.5rem;
    width: 60%;
    color: #000000;
}

.messages {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 80%;
    height: fit-content;
    margin: 1rem;
    overflow-y: auto;
}

.messages h2 {
    text-decoration: underline;
}

.message {
    display: flex;
    columns: 2;
}

.status {
    list-style: none;
    align-self: center;
    font-size: 1.7rem;
    font-weight: 500;
    transition: font-size 0.3s ease;
}

@media screen and (max-width: 750px) {
    .container {
        width: 75vw;
    }

    .header {
        width: 90%;
        margin: 0;
        margin-top: 1rem;
    }

    input {
        width: 50%;
    }

    .messages {
        width: 70%;
        margin: 1rem 0 0 1rem;
    }

    .status {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 60vw;
    }
}

@media screen and (max-width: 650px) {
    .container {
        width: 80vw;
    }

    .header {
        width: 90%;
        margin: 0;
        margin-top: 1rem;
    }

    input {
        width: 50%;
    }

    .messages {
        width: 70%;
        margin: 1rem 0 0 1rem;
    }

    .status {
        font-size: 1.5rem;
    }

    .addMsgBtn {
        font-size: 1.2rem;
    }
}

@media screen and (max-height: 500px) {
    .header {
        margin-top: 2rem;
    }
    .messages {
        margin-top: 1rem;
    }
}
